<mat-card>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
      <mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="row.edit">{{ row.brand }} </span>
        <span *ngIf="!row.edit"><input #brand [value]="row.brand" [(ngModel)] = "row.brand"  /></span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
      <mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="row.edit">{{ row.model }} </span>
        <span *ngIf="!row.edit"><input #model [value]="row.model"  [(ngModel)] = "row.model"/></span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
      <mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="row.edit">{{ row.year }} </span>
        <span *ngIf="!row.edit"><input #year [value]="row.year"  [(ngModel)] = "row.year"/></span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="row.edit">{{ row.price }} </span>
        <span *ngIf="!row.edit"><input #price [value]="row.price" [(ngModel)] = "row.price"/></span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let row, let i = index">
        <span *ngIf="row.edit"><button (click)="changeEditable(row.id)">Edit</button> </span>
        <span *ngIf="!row.edit"
          ><button (click)="onSave(row)">Save</button>
          <button (click)="deleteRow(row.id)">Delete</button></span
        >
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['brand', 'model', 'year', 'price','edit']"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: ['brand', 'model', 'year', 'price','edit']"
    ></mat-row> </mat-table
></mat-card>
